body {
	margin: 0 auto;
/* 	background-color: #F1F2F6; */
	width: 960px;
	font-family: Verdana, sans-serif;
}


.redbox {
	background-color: #D07070;
}

.bluebox {
	background-color: #0893CF;
}

.comment {
	background-color: #D8D9DD;
}

ol {
	list-style-type: lower-roman;
}

table {
	width: 100%;
	
}

.table-caption {
	background-color: #F1F2F6;
	font-size: 1.5em;
}

.centered {
	text-align: center;
}

.right {
	text-align: right;
}